{% extends 'mainapp/base.html' %}
{% block title %}Регистрация{% endblock %}

{% block content %}
<h2>Регистрация</h2>

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.non_field_errors }}
  {% for field in form %}
    <div class="mb-3">
      <label class="form-label">{{ field.label }}</label>
      {{ field }}
      {% if field.help_text %}<div class="form-text">{{ field.help_text }}</div>{% endif %}
      {{ field.errors }}
    </div>
  {% endfor %}
  <button class="btn btn-success" type="submit">Зарегистрироваться</button>
</form>
{% endblock %}