{% extends 'mainapp/base.html' %}
{% block title %}Форма сообщения{% endblock %}

{% block content %}
<h2>{% if object %}Изменить{% else %}Создать{% endif %} сообщение</h2>

<form method="post">
  {% csrf_token %}
  {{ form.non_field_errors }}

  <div class="mb-3">
    <label class="form-label">Тема</label>
    {{ form.subject }}
    {{ form.subject.errors }}
  </div>

  <div class="mb-3">
    <label class="form-label">Тело письма</label>
    {{ form.body }}
    {{ form.body.errors }}
  </div>

  <button type="submit" class="btn btn-success">Сохранить</button>
  <a href="{% url 'mainapp:messages_list' %}" class="btn btn-secondary">Отмена</a>
</form>
{% endblock %}